<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex ms-auto align-items-center">
        <!-- Formulario de búsqueda -->
        <form class="d-flex me-3" role="search">
          <input #searchInput class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="enviarTerminoBusqueda(searchInput.value)">
        </form>
    
        <!-- Carrito de compras -->
        <a class="nav-link text-black p-3 me-3" [routerLink]="'/user/carrito'">
          <i class="fa fa-shopping-cart"></i> (<span class="fw-bold">{{cantidadCarrito()}}</span>)
        </a>
    
        <!-- Menú desplegable de perfil -->
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</nav>